<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Artem Petrenko</h1>
    <p>Welcome to my first blog app.</p>

    <p>I am a junior Ruby on Rails developer, find me on  <a href="https://www.facebook.com/discipleartem", target="_blank">Facebook</a> or at the <a href="https://vk.com/disciple_artem", target="_blank">Vk</a>.
    </p>
  </div>
</div>
